body {
    font-family: Overpass;
    margin: 0;
    padding:0;
    position: relative;
  }
  
  h1, h2, h3 {
    font-family: Chivo;
  }

  .banner{
    background-image: url(https://lewagon.github.io/landing-page/images/background.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
  }

  .banner h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin: 0px;
  }

  .banner p {
    color: rgb(216, 216, 216); 
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .banner .button-blue {
    background-color: #1A48E3;
    color: white;
    padding: 16px 48px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
    font-size: 20px;
    font-weight: bold;
  }

  .banner .button-blue:hover {
    background-color: #0D1EC6;
  }

  .container {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 79.310px;
    margin-right:  79.310px;
  }

  .container h2{
    color: #404042;
    margin-top: 22.41px;
    margin-bottom: 22.41px;;
    font-size: 27px;
  }

  .container .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    width: 100%;
  }

  .container .card-white {
    background: white;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 235px;
    height: 320px;
    padding: 20px;
  }

  .container .card-white img {
    object-fit: cover;
    width: 100%;
    height: 180px;  
    border-radius: 4px;
  }

  .container .card-white h3 {
    color: #404042;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
    text-align: left;
    font-size: 21px;
  }

  .container .card-white p{
    text-align: left;
    color: #303030;
    font-size: 18px;
  }

  .footer {
    background-color: #48484a;
    padding: 50px;
  }
  
  .footer p {
    font-size: 18px;
    color: white;
    margin: 18px;
  }

/* Container media queries: */

  @media (min-width: 700px) {
    .container {
      width: 600px;
    }
  }

  @media (min-width: 300px) {
    .container {
      width: 400px;
    }
  
    .container {
      width: 900px;
      margin: 60px auto;
    }
  
    div {
      display: block;
    }
  }  

/* Cards media queries: */

  @media (min-width: 700px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 300px) {
    .cards {
      grid-template-columns: 1fr;
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }
  }
    div {
      display: block;
    }
